paddlepaddle~=3.3.0
aistudio_sdk
colorlog
chardet
ruamel.yaml
ruamel.yaml.clib
pydantic
pydantic_core
pandas
prettytable
ujson
filelock
py-cpuinfo
typing-extensions
pypdfium2
chinese-calendar
scikit-learn
colorlog